// Header

header {
    display: block;
    height: 120px;
    right: 0;

    ul {
        float: right;
        list-style: none;
        margin: 60px;
        font-size: 1.9rem;
        font-weight: bolder;

        li {
            display: inline;
            margin-right: 30px;
        }
    }
}